<h1>Authentication tokens</h1>


<table>
	<tr>
			<th>Domain</th>
			<th>Token</th>
			<th>Created</th>
			<th>Updated</th>
	</tr>
			<%= render @auths %>
</table>
<%= button_to "Create Auth", new_auth_path, :method => 'get' %>
<%= link_to "All Basecamp Projects", basecamp_projects_path %> |  
<%= link_to "All Local Projects", projects_path %> 

